# general things to ignore
/.tscache
/.eslintcache
/.idea
/bundles/
/build/
/dist/
/dist_python/
/lib/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.log
*.pot
*.pyc
*.swp
*.lock
# don’t ignore our yarn.lock
!yarn.lock
# due to using tox and pytest
.tox
.cache
node_modules/
/src/**/*.js
/tests/**/*.js
/src/**/*.map
/tests/**/*.map 

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# env
/.venv*/
/pip*/

# data
/bikg_app/csv*/
bikg_app/csv*/
/bikg_app/rdf*/
bikg_app/rdf*/
/bikg_app/ttl*/
bikg_app/ttl*/
/bikg_app/json*/
/bikg_app/data*/
/bikg_app/data/
bikg_app/csv/study.csv
bikg_app/json/exemplar_edge_count_dict.json
bikg_app/json/exemplar_focus_node_dict.json
bikg_app/json/focus_node_exemplar_dict.json
bikg_app/json/violation_exemplar_dict.json
bikg_app/json/violation_list.json
bikg_app/ttl/omics_model_union_violation_exemplar.ttl
bikg_app/ttl/omics_model.ttl
bikg_app/ttl/study.ttl
bikg_app/ttl/violation_report.ttl
bikg_app/ttl/violations.ttl
