.chat-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.chat-message {
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 4px;
  max-width: 75%; /* Set a max width. Adjust as per design needs. */
  word-wrap: break-word; /* To break the word and wrap onto next line */
  white-space: normal; /* Overrides any parent elements that might set this differently */
  overflow: hidden; /* Ensure overflow is hidden */
}

.user, .bot {
  word-wrap: break-word; /* Make sure text wraps within bubble */
}

.user {
  align-self: flex-end;
  background-color: var(--mantine-header-color);
  color: white;
}

.bot {
  align-self: flex-start;
  background-color: #f4f4f4;
}
