/* Legend.css */
.legend-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.legend-section {
  margin-bottom: 16px;
}

.legend-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.shapes-section,
.colors-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.shape {
  width: 20px;
  height: 20px;
}

.rectangle {
  background-color: var(--selected-default-color);
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--selected-default-color);
}

.diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: var(--selected-default-color);
}

.pentagon {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background-color: var(--selected-default-color);
}

.hexagon {
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background-color: #777;
}

.circle {
  border-radius: 50%;
  background-color: var(--selected-default-color);
}

.color {
  width: 20px;
  height: 20px;
  /* border: 1px solid #000; */
}
