#cy {
  width: 100%;
  height: 100%;
  border: 0px solid grey;
}

.mantine-AppShell-body {
  height: calc(100vh); /* 100% of the viewport height */
  overflow-y: auto; /* Add scrolling if the content overflows */
}

.mantine-AppShell-main {
  height: 100%; /* 100% of the height of the .mantine-AppShell-body element */
  overflow-y: auto; /* Add scrolling if the content overflows */
}


body {
  margin: 0;
  height: calc(100vh - 80px);
}

.scatter-plot-container {
  height: 100%;
  width: 100%;
}

.bar-plot-container {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, calc(50vh - 40px - 5px));
  grid-gap: 10px;
  height: 100%;
}

.bar-plot-list-container {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: justify;
  padding: 20px;
}


.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {  display: grid;
  grid-template-rows: 0.05fr 0.85fr 0.05fr 0.85fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  max-height: 90vh;
}

.Ontology-Title { grid-area: 1 / 1 / 2 / 2; }

.Extended-Ontology-View { grid-area: 2 / 1 / 3 / 2; height: 41vh; max-height: 41vh; }

.Embedding-Title { grid-area: 3 / 1 / 4 / 2; }

.Embedding-View {
  grid-area: 4 / 1 / 5 / 2;
  height: 41vh;
  max-height: 41vh;
  outline: 1px solid lightgrey; /* add a 1px lightgrey outline */
}


.Feature-Distribution-View { grid-area: Feature-Distribution-View; min-width: 0; min-height: 0; overflow: hidden }

.Fixed-Feature-Distribution-View { grid-area: Fixed-Feature-Distribution-View; min-width: 0; min-height: 0; overflow: hidden }



/* The canvas will fill its parent container */
.webgl-view {
  width: 100%;
  height: 100%;
}

.cytoscape-container {
  height: 100%;
}

.lineup-window {
  position: relative; /* or 'absolute' */
}

.lu {
  clear: both;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 84vw;
  max-width: 84vw;
  height: 43vh;
  max-height: 43vh;
  overflow-x: scroll;
}

.tab-button {
  background-color: rgb(245, 245, 245); /* Set inactive tabs to light grey */
  border: 1px solid lightgrey;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box; /* Make the border be included in the button's dimensions */
  color: grey;
  transition: 0.15s; /* Add transition effect to the button's background color and color */
}

.tab-button:hover {
  background-color: #fff; /* Add a grey background color on hover */
}

.tab-button:active {
  background-color: #ccc; /* Add a darker grey background color when clicking on a button */
  color: black;
}

.tab-button + .tab-button { /* if there is a button preceding this button */
  border-left: none; /* remove the left border to avoid double borders */
}

.activeTab {
  background-color: white; /* Set active tab to white */
  border: 1px solid lightgrey;
  color: black;
  /* border-bottom: none; Remove the bottom border */
}

/* TODO find out how to do this in a cleaner and intended way in the lineupjs library */
/* [class*="le-th-lu-"] {
  width: auto !important;
} */

.navbar-container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 0.95fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "NavBarTabs-Title"
  "treebeard-container";
  overflow-y: auto; /* add a vertical scrollbar */
  overflow-x: auto; /* add a horizontal scrollbar if necessary */
  height: 95%; /* set a fixed height for the container */
  min-width: 30%;
}

.NavBarTabs-Title {
  grid-area: NavBarTabs-Title;
  outline: 1px solid lightgrey !important;
}

.treebeard-container {
  grid-area: treebeard-container;
  height: 95%; /* set a fixed height for the container */
  white-space: nowrap;
  min-width: 30%;
  overflow-y: auto; /* add a vertical scrollbar */
  overflow-x: auto; /* add a horizontal scrollbar if necessary */
}

.mantine-Navbar-root {
  padding: 0 !important;
}

.settingsTab {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  outline: 1px solid lightgrey;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.filterSettingsTitle {
  border-bottom: 1px solid lightgrey; 
  margin-bottom: 10px; 
  padding-bottom: 10px; 
  width: 100%;
  text-align: center;
  /* font-size: 1.2em;  Increase the font size */
  color: #333;  /* Change the color */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15);  /* Add a text shadow */
  /* letter-spacing: 1px;  Increase the letter spacing */
}



.settingsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filterButtonsContainer {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
}

.filterButtonsContainer .filterLabel {
  cursor: pointer;
  color: grey;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.3s ease;  /* add transition for smoother color change */
}

.filterButtonsContainer .filterLabel:hover,
.filterButtonsContainer .filterLabel:active {  /* add active pseudoclass */
  color: black;
  background-color: steelblue; /* add background color change */
}

.filterButtonsContainer .filterLabel:active { /* override color change on active state */
  color: white;
}

.filterButtonsContainer .filterLabel.activeFilter {
  color: black;
}

.filterButtonsContainer input[type="radio"] {
  margin-right: 10px;
}
