/* styles.css */

:root {
  
  /* Other constants */
  --spinner-color: grey;
  --mantine-header-color: #495057;
  --mantine-header-hover-color: #92a0ad;

  /* Default Node Colors */
  --unselected-default-color: #aaa;
  --selected-default-color: #888;

  /* Text Colors */
  --selected-text-color: black;
  --unselected-text-color: grey;

  /* Type Node Colors */
  --selected-type-node-color: steelblue;
  --unselected-type-node-color: lightsteelblue;

  /* Violation Node Colors */
  --selected-violation-node-color: orange;
  --unselected-violation-node-color: #FFCC99;

  /* Exemplar Node Colors */
  --selected-exemplar-node-color: red;
  --unselected-exemplar-node-color: #FF7F7F;

  /* Children/parent alignment constants */
  --node-layout-offset-x: 500;
  --distance-between-nodes-y: 70;

  /* Tree layout constants */
  --unfolded-subtree-bounding-box-margin: 100;
}

*, *::before, *::after {
  box-sizing: border-box;
}



#cy {
  width: 100%;
  height: 100%;
  border: 0px solid grey;
}

.mantine-AppShell-body {
  height: calc(100vh); /* 100% of the viewport height */
  overflow-y: auto; /* Add scrolling if the content overflows */
}

.mantine-AppShell-main {
  height: 100%; /* 100% of the height of the .mantine-AppShell-body element */
  overflow-y: auto; /* Add scrolling if the content overflows */
}


body {
  margin: 0;
  height: calc(100vh - 80px);
}

.scatter-plot-container {
  height: 100%;
  width: 100%;
}

.bar-plot-container {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, calc(50vh - 40px - 5px));
  grid-gap: 10px;
  height: 100%;
}

.bar-plot-list-container {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: justify;
  padding: 20px;
}


.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {  display: grid;
  grid-template-rows: 0.05fr 0.85fr 0.05fr 0.85fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  max-height: 90vh;
}

.Ontology-Title { grid-area: 1 / 1 / 2 / 2; }

.Extended-Ontology-View { grid-area: 2 / 1 / 3 / 2; height: 41vh; max-height: 41vh; }

.Embedding-Title { grid-area: 3 / 1 / 4 / 2; }

.Embedding-View {
  grid-area: 4 / 1 / 5 / 2;
  height: 41vh;
  max-height: 41vh;
  outline: 1px solid lightgrey; /* add a 1px lightgrey outline */
}


.Feature-Distribution-View { grid-area: Feature-Distribution-View; min-width: 0; min-height: 0; overflow: hidden }

.Fixed-Feature-Distribution-View { grid-area: Fixed-Feature-Distribution-View; min-width: 0; min-height: 0; overflow: hidden }



/* The canvas will fill its parent container */
.webgl-view {
  width: 100%;
  height: 100%;
}

.cytoscape-container {
  height: 100%;
}

.lineup-window {
  position: relative; /* or 'absolute' */
}

.lu {
  clear: both;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 84vw;
  max-width: 84vw;
  height: 43vh;
  max-height: 43vh;
  overflow-x: scroll;
}

.le-tr:hover, .le-tr.le-highlighted {
  background-color:#eeeeee;
  box-shadow: 2px 0 0 0 var(--mantine-header-hover-color), 0 2px 0 0 var(--mantine-header-hover-color), 2px 2px 0 0 var(--mantine-header-hover-color), 2px 0 0 0 var(--mantine-header-hover-color) inset, 0 0 0 2px var(--mantine-header-hover-color) !important;
}

.le-tr:active{
  background-color:#eeeeee;
  box-shadow: 2px 0 0 0 var(--mantine-header-color), 0 2px 0 0 var(--mantine-header-color), 2px 2px 0 0 var(--mantine-header-color), 2px 0 0 0 var(--mantine-header-color) inset, 0 0 0 2px var(--mantine-header-color) !important;
}

/* .lu-histogram-bin div {
  background-color: var(--mantine-header-color) !important;
} */

/* .lu-cat-color:hover {
  background-color: var(--mantine-header-hover-color) !important;
  color: black !important;
} */

/* .lu-cat-color {
  background-color: var(--mantine-header-color) !important;
  /* color: white !important; */
/* } */

/* .lu-bar-label:hover {
  background-color: var(--mantine-header-hover-color) !important;
  color: grey !important;
} */

/* .lu-bar-label {
  background-color: var(--mantine-header-color) !important;
  color: darkgrey !important;
} */

.lu-renderer-link {
  color: var(--unselected-exemplar-node-color) !important;
}

.lu-renderer-link:hover {
  color: var(--selected-exemplar-node-color) !important;
}


/* Base Styles */
.tab-button {
  background-color: white;
  border: 1px solid #d1d1d1;
  padding: 10px 20px;
  cursor: pointer;
  box-sizing: border-box;
  color: black;
  transition: background-color 0.15s ease, color 0.15s ease; /* Smoother transitions */
  font-size: 1rem; /* Readability */
}

/* Hover Effect */
.tab-button:hover {
  background-color: var(--mantine-header-hover-color);
  color: white;
  border: 1px solid grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow as in tabs */
}

/* Active State */
.tab-button:active {
  color: white;
  background-color: var(--mantine-header-color);
  border: 1px solid grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow as in tabs */
}

.activeTab {
  color: white;
  background-color: var(--mantine-header-color);
  border: 1px solid grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow as in tabs */
}

/* Avoiding double borders */
.tab-button + .tab-button {
  border-left: none;
}

/* Media Query Example (Optional) */
@media (max-width: 768px) {
  .tab-button {
    padding: 10px;
    font-size: 0.875rem; /* Smaller font size for mobile */
  }
}


/* TODO find out how to do this in a cleaner and intended way in the lineupjs library */
/* [class*="le-th-lu-"] {
  width: auto !important;
} */

.navbar-container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 0.95fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "NavBarTabs-Title"
  "treebeard-container";
  overflow-y: auto; /* add a vertical scrollbar */
  overflow-x: auto; /* add a horizontal scrollbar if necessary */
  height: 95%; /* set a fixed height for the container */
  min-width: 30%;
}

.NavBarTabs-Title {
  grid-area: NavBarTabs-Title;
  outline: 1px solid lightgrey !important;
}

.treebeard-container {
  grid-area: treebeard-container;
  height: 95%; /* set a fixed height for the container */
  white-space: nowrap;
  min-width: 30%;
  overflow-y: auto; /* add a vertical scrollbar */
  overflow-x: auto; /* add a horizontal scrollbar if necessary */
}

.mantine-Navbar-root {
  padding: 0 !important;
}

.settingsTab {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  outline: 1px solid lightgrey;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.filterSettingsContainer {
  width: 100%;
}

.settingsTitle {
  position: relative;
  margin-bottom: 10px; 
  padding-bottom: 10px; 
  text-align: center;
  color: #333;  
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}

.settingsTitle::after {
  content: "";
  position: absolute;
  left: 10%; /* Adjust as needed */
  right: 10%; /* Adjust as needed */
  bottom: 0;
  border-bottom: 1px solid lightgrey;
}


.filterButtonsContainer {
  display: flex;
  flex-direction: column;
}

.filterButtonsContainer .filterLabel {
  cursor: pointer;
  color: black;
  margin-bottom: 10px;
  padding: 10px 20px; /* similar padding as tabs */
  transition: background-color 0.15s ease, color 0.15s ease; /* Smoother transitions */
  border: 1px solid lightgrey; /* aligns with tab design */
  box-sizing: border-box;
}

.filterButtonsContainer .filterLabel:hover {
  color: white; /* darker text on hover */
  background-color: var(--mantine-header-hover-color);
}

.filterButtonsContainer .filterLabel:active {
  color: white;
  background-color: var(--mantine-header-color);
  border: 1px solid grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow as in tabs */
}

.filterButtonsContainer .filterLabel.activeFilter {
  color: white;
  background-color: var(--mantine-header-color);
  border: 1px solid grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow as in tabs */
}

.filterButtonsContainer input[type="radio"] {
  margin-right: 10px; /* kept consistent */
  accent-color: var(--mantine-header-color); /* color of the radio button */
}

.settingsSectionContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey; /* aligns with the tab and filter design */
}


/* .imageOverlay {
  position: relative;
  height: 100px;
  width: 100px;
}

.imageOverlay img {
  position: absolute;
  top: 0;
  left: 0;
}
 */

 .node-type.unselected {
  color: var(--unselected-type-node-color);
}

.node-type.selected {
  color: var(--selected-type-node-color);
}

.node-type.hover {
  color: var(--selected-text-color);
}

.node-exemplar.unselected {
  color: var(--unselected-exemplar-node-color);
}

.node-exemplar.selected {
  color: var(--selected-exemplar-node-color);
}

.node-exemplar.hover {
  color: var(--selected-text-color);
}

/* Root class for the context menu */
.cy-context-menus-cxt-menuitem {
  background-color: #ffffff;  /* Explicitly white background */
  border: 1px solid #ccc; /* Adds a subtle border */
  border-radius: 4px; /* Rounded corners for a softer look */
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out; /* Smooth transitions for background and text color */
  padding: 8px 12px; /* Padding for better readability */
  font-size: 14px; /* Slightly larger font for readability */
  color: #333; /* Darker text for better contrast */
  cursor: pointer; /* Makes it clear that the item is clickable */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Hover state */
.cy-context-menus-cxt-menuitem:hover {
  background-color: var(--mantine-header-hover-color);
  color: #ffffff;  /* White text for contrast */
}

/* Active/Focused state could also be added */
.cy-context-menus-cxt-menuitem:active, 
.cy-context-menus-cxt-menuitem:focus {
  background-color: var(--mantine-header-color);
  color: #ffffff;  /* Keep text white for consistency */
}

.scatter-plot-container {
  width: 100%;
  height: 100%;
  position: relative; /* Or whatever it needs to be */
  overflow: hidden; /* Prevent any spillover */
}

.scatter-plot-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.selected {
  fill: var(--selected-exemplar-node-color) !important;
}


.blacklist-manager {
  border-top: 1px solid lightgrey; /* Add a top border */
  width: 95%; /* Example: Reduce width */
  padding: 10px 10px; /* Example: Adjust padding */
}

.blacklist-input {
  width: calc(100% - 10px); /* Full width minus padding */
  padding: 10px;
  margin-bottom: 10px; /* Space below the input field */
  border: 1px solid lightgrey; /* Border similar to other input fields */
  border-radius: 4px; /* Rounded corners */
}

.blacklisted-labels-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.blacklist-item {
  cursor: pointer;
  margin-bottom: 2px; /* Reduced margin for compactness */
  padding: 2px; /* Reduced padding for compactness */
  border: 1px solid lightgrey; /* Optionally, you could remove the border for more compactness */
  border-radius: 4px;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.blacklist-item:hover {
  background-color: var(--mantine-header-hover-color);
  color: white;
  text-decoration: none; /* Removing underline on hover */
}

.blacklist-item:active {
  background-color: var(--mantine-header-color);
  color: white;
}

/* Styles for the scrollable container */
.blacklisted-labels-container {
  max-height: 150px; /* Adjust as needed */
  overflow-y: auto; /* Scrollbar for overflow */
  margin-top: 0px;
}


.autocomplete-menu {
  border: 1px solid #aaa;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1000;
}

.autocomplete-item {
  padding: 5px;
  cursor: pointer;
}

.item-highlighted {
  background-color: #e9e9e9;
}