#cy {
  width: 100%;
  height: 100%;
  border: 0px solid grey;
}

.mantine-AppShell-body {
  height: calc(100vh); /* 100% of the viewport height */
  overflow-y: auto; /* Add scrolling if the content overflows */
}

.mantine-AppShell-main {
  height: 100%; /* 100% of the height of the .mantine-AppShell-body element */
  overflow-y: auto; /* Add scrolling if the content overflows */
}


body {
  margin: 0;
  height: calc(100vh - 80px);
}

.scatter-plot-container {
  height: 100%;
  width: 100%;
}

.bar-plot-container {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, calc(50vh - 40px - 5px));
  grid-gap: 10px;
  height: 100%;
}

.bar-plot-list-container {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: justify;
  padding: 20px;
}


.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {  display: grid;
  grid-template-rows: 0.05fr 0.85fr 0.05fr 0.85fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.Ontology-Title { grid-area: 1 / 1 / 2 / 2; }

.Extended-Ontology-View { grid-area: 2 / 1 / 3 / 2; height: 38vh; max-height: 38vh; }

.Embedding-Title { grid-area: 3 / 1 / 4 / 2; }

.Embedding-View { grid-area: 4 / 1 / 5 / 2; height: 38vh; max-height: 38vh; }


.Feature-Distribution-View { grid-area: Feature-Distribution-View; min-width: 0; min-height: 0; overflow: hidden }

.Fixed-Feature-Distribution-View { grid-area: Fixed-Feature-Distribution-View; min-width: 0; min-height: 0; overflow: hidden }



/* The canvas will fill its parent container */
.webgl-view {
  width: 100%;
  height: 100%;
}

.treebeard-container {
  height: 95%; /* set a fixed height for the container */
  white-space: nowrap;
  min-width: 30%;
  overflow-y: auto; /* add a vertical scrollbar */
  /* border: 1px solid lightgrey; */
}

.cytoscape-container {
  height: 100%;
}

.lineup-window {
  position: fixed; /* or 'absolute' */
  z-index: 100; /* optional, in case you need to bring the window to front */
}

.lu {
  clear: both;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 86vw;
  max-width: 86vw;
  height: 47vh;
  max-height: 47vh;
  overflow-x: scroll;
}